.d-n {
    display: none;
}

.highlight-product-form-item-delete {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
}

.highlight-product-collection {
    margin-bottom: 20px;
}

[draggable] {
    user-select: none;
    -webkit-user-drag: element;
    cursor: move;
}

.highlight-product-form-item-drag {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.draggable {
    border: 1px solid grey;
    margin-bottom: 5px;
}

.draggable.over {
    border: 1px dashed darkgrey !important;
}
