<section>

    <h3>{{ highLightProductsBloc.title }}</h3>

    {% for product in highLightProductsBloc.products %}

        <article>
            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
            <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">{{ product.name }}</a>
        </article>
    {% endfor %}
</section>
